<button class="btn btn-create bg-blue-500 text-white hover:bg-blue-600 rounded px-4 py-2 flex items-center" <%= attributes || '' %> >
  <i class="bi bi-plus-circle mr-2"></i> <%= label || 'Create' %>
</button>
