<button class="btn btn-edit bg-yellow-500 text-white hover:bg-yellow-600 rounded px-4 py-2 flex items-center" <%= attributes || '' %> >
  <i class="bi bi-pencil mr-2"></i> <%= label || 'Edit' %>
</button>
