<button class="btn btn-reject bg-orange-500 text-white hover:bg-orange-600 rounded px-4 py-2 flex items-center" <%= attributes || '' %> >
  <i class="bi bi-x-circle mr-2"></i> <%= label || 'Reject' %>
</button>
