<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Logs</title>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <style>
    main {
      flex: 1;
      padding: 2rem;
      background-color: #fff;
      margin: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
      margin-top: 0;
      font-size: 2rem;
      color: #333;
    }

    h2 {
      font-size: 1.5rem;
      color: #666;
    }

    pre {
      background-color: #333;
      color: #f4f4f4;
      border: 1px solid #444;
      padding: 10px;
      overflow: auto;
      white-space: pre-wrap;
      border-radius: 4px;
      max-height: 600px; /* Beschränke die Höhe der Log-Daten */
      line-height: 1.5;
    }
  </style>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/"><img src="/assets/img/logo.png" alt="NodCord Logo"></a>
      <span>NodCord</span>
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="/docs">Documentation</a>
      <a href="/status">Status</a>
      <a href="/info">Info</a>
      <a href="/routes">Routes</a>
      <a href="/discord-members">Discord Members</a>
      <a href="/discord-servers">Discord Servers</a>
      <% if (!isAuthenticated) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } else { %>
        <a href="/dashboard">Dashboard</a>
      <% } %>
    </nav>
  </header>
  <main>
    <h1>Logs</h1>
    <h2>Logger Service Logs</h2>
    <pre><%= loggerLogs %></pre>
  </main>
  <%- include('../../partials/footer'); %>
</body>
<script src="/assets/js/script.js"></script>
</html>
