<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Logs</title>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .logo img {
      height: 40px;
      margin-right: 10px;
    }

    nav {
      display: flex;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      padding: 10px 15px;
      margin: 0 5px;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    nav a:hover {
      background-color: #575757;
    }

    main {
      flex: 1;
      padding: 2rem;
      background-color: #fff;
      margin: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
      margin-top: 0;
      font-size: 2rem;
      color: #333;
    }

    h2 {
      font-size: 1.5rem;
      color: #666;
    }

    pre {
      background-color: #333;
      color: #f4f4f4;
      border: 1px solid #444;
      padding: 10px;
      overflow: auto;
      white-space: pre-wrap;
      border-radius: 4px;
      max-height: 600px; /* Beschränke die Höhe der Log-Daten */
      line-height: 1.5;
    }

    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 15px 20px;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }

    footer p {
      margin: 0;
    }

    footer p a {
      color: #2fddfe;
      text-decoration: none;
    }

    footer p a:hover {
      color: #fc9702;
    }
  </style>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/"><img src="/assets/img/logo.png" alt="NodCord Logo"></a>
      <span>NodCord</span>
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="/docs">Documentation</a>
      <a href="/status">Status</a>
      <a href="/info">Info</a>
      <a href="/routes">Routes</a>
      <a href="/discord-members">Discord Members</a>
      <a href="/discord-servers">Discord Servers</a>
      <% if (!isAuthenticated) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } else { %>
        <a href="/dashboard">Dashboard</a>
      <% } %>
    </nav>
  </header>
  <main>
    <h1>Logs</h1>
    <h2>Logger Service Logs</h2>
    <pre><%= loggerLogs %></pre>
  </main>
  <footer>
    <p>&copy; 2024 <a href="/">NodCord</a>. All rights reserved.</p>
  </footer>
</body>
<script src="/assets/js/script.js"></script>
</html>
