# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# misc
.DS_Store
.env
.env.local

# Dependency directories
node_modules/
build/
dist/
