{
  "$schema": "https://json.schemastore.org/stylelintrc",
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
    "order/properties-alphabetical-order": true,
    "color-no-invalid-hex": true,
    "block-no-empty": true,
    "selector-max-id": 0,
    "no-empty-source": null,
    "function-url-quotes": "always"
  }
}
