<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Beta Key Verifizierung ~ NodCord</title>
  <link rel="shortcut icon" href="assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <%- include('../partials/header'); %>
  <main>
    <div class="container">
      <h1 class="mt-5">Beta Key Verifizierung</h1>

      <form method="POST" action="/api/beta/verify">
        <div class="form-group">
          <label for="key">Beta Key</label>
          <input type="text" class="form-control" id="key" name="key" required>
          <% if (error) { %>
            <div class="alert alert-danger mt-2" role="alert">
              <%= error %>
            </div>
          <% } %>
        </div>
        <button type="submit" class="btn btn-primary">Verifizieren</button>
      </form>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>
<script src="assets/js/script.js"></script>
</html>
