<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datenschutzrichtlinie</title>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/@merakiui/merakiui/dist/merakiui.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
      line-height: 1.6;
    }
  </style>
</head>

<body class="bg-gray-200 text-gray-900 dark:bg-gray-800 dark:text-gray-200 flex flex-col min-h-screen">
  <%- include('../partials/header/header'); %>

  <main class="flex-1">
    <div class="container bg-white dark:bg-gray-900 rounded-lg shadow-md p-6 mt-8 mb-8">
      <h1 class="text-3xl font-semibold mb-4">Datenschutzrichtlinie</h1>
      <section class="mb-6">
        <h2 class="text-2xl font-semibold mb-2">1. Einleitung</h2>
        <p>Diese Datenschutzrichtlinie erläutert, wie wir Ihre Daten sammeln, verwenden und schützen...</p>
        <p class="mb-4">Weitere Abschnitte...</p>
      </section>
      <section class="mb-6">
        <h2 class="text-2xl font-semibold mb-2">2. Erhebung und Verwendung von Daten</h2>
        <p>Wir sammeln Daten, um Ihnen bessere Dienste anzubieten...</p>
        <p class="mb-4">Weitere Abschnitte...</p>
      </section>
      <section class="mb-6">
        <h2 class="text-2xl font-semibold mb-2">3. Ihre Rechte</h2>
        <p>Sie haben das Recht, auf Ihre Daten zuzugreifen und sie zu ändern...</p>
        <p class="mb-4">Weitere Abschnitte...</p>
      </section>
    </div>
  </main>

  <%- include('../partials/footer/footer'); %>
</body>
<script src="/assets/js/script.js"></script>
</html>
