<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home ~ NodCord</title>
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <style>
      main {
        flex: 1;
        padding: 20px;
      }

      .section {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .section h1 {
        margin-top: 0;
        font-size: 2em;
      }

      .section h2 {
        margin-top: 0;
        font-size: 1.5em;
      }

      .section p {
        font-size: 16px;
        line-height: 1.5;
      }
    </style>
  </head>

  <body>
    <%- include('./partials/header'); %>
    <main>
      <div class="section">
        <h1>Welcome to NodCord</h1>
        <p>
          NodCord is an integrated project combining a Node.js API with
          Express.js and a Discord bot. This project provides a comprehensive
          API and a functional Discord bot for various use cases.
        </p>
        <p>
          The API includes a Discord service that can be managed through
          controllers and routes. The Discord bot can also be controlled via the
          API.
        </p>
      </div>

      <div class="section">
        <h2>About the Bot</h2>
        <p>
          The NodCord Discord bot is designed to interact with your Discord
          servers, providing commands for managing roles, users, and more. It's
          integrated into the API for seamless management and configuration.
        </p>
      </div>

      <div class="section">
        <h2>Features</h2>
        <p>
          - **Node.js API**: A robust API for interacting with the Discord bot
          and managing various services.
          <br />
          - **Discord Bot**: Control and interact with your Discord servers
          using various commands and features.
          <br />
          - **Comprehensive Documentation**: Detailed documentation to help you
          get started and make the most out of NodCord.
        </p>
      </div>

      <div class="section">
        <h2>Get Started</h2>
        <p>
          To get started with NodCord, check out our
          <a href="/docs">documentation</a> or visit the
          <a href="/dashboard">dashboard</a> to manage your settings.
        </p>
      </div>
    </main>
    <%- include('./partials/footer'); %>
  </body>

  <script src="/assets/js/script.js"></script>
</html>
