<div id="createNewPaymentMethodModal" class="modal fade" tabindex="-1" aria-labelledby="createNewPaymentMethodModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-gray-800 text-white">
      <div class="modal-header border-b border-gray-700">
        <h5 class="modal-title" id="createNewPaymentMethodModalLabel">Add New Payment Method</h5>
        <button type="button" class="btn-close text-gray-400" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createPaymentMethodForm">
          <div class="mb-3">
            <label for="paymentMethod" class="form-label">Payment Method</label>
            <input type="text" class="form-control" id="paymentMethod" required>
          </div>
          <button type="submit" class="btn btn-primary">Add Payment Method</button>
        </form>
      </div>
    </div>
  </div>
</div>
