<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodCord - API Routes</title>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .logo img {
      height: 40px;
      margin-right: 10px;
    }

    nav {
      display: flex;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      padding: 10px 15px;
      margin: 0 5px;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    nav a:hover {
      background-color: #575757;
    }

    main {
      padding: 20px;
    }

    .section {
      margin-bottom: 20px;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .section h2 {
      margin-top: 0;
    }

    .routes-list {
      list-style-type: none;
      padding: 0;
    }

    .routes-list li {
      margin: 10px 0;
    }

    .routes-list a {
      color: #007bff;
      text-decoration: none;
    }

    .routes-list a:hover {
      text-decoration: underline;
    }

    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px 20px;
    }

    footer p a {
      color: #2fddfe;
      text-decoration: none;
    }

    footer p a:hover {
      color: #fc9702;
    }
  </style>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/"><img src="/assets/img/logo.png" alt="NodCord Logo"></a>
      <span>NodCord</span>
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="/docs">Documentation</a>
      <a href="/status">Status</a>
      <a href="/info">Info</a>
      <a href="/routes">Routes</a>
      <a href="/discord-members">Discord Members</a>
      <a href="/discord-servers">Discord Servers</a>
      <% if (!isAuthenticated) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } else { %>
        <a href="/dashboard">Dashboard</a>
      <% } %>
    </nav>
  </header>
  <main>
    <div class="section">
      <h1>API Routes</h1>
      <p>Below is a list of all available API routes:</p>
      <ul class="routes-list">
        <% routes.forEach(route=> { %>
          <li>
            <%= route.methods.join(', ') %> <a href="<%= route.path %>"><%= route.path %></a></li>
                <% }) %>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 NodCord. All rights reserved.</p>
    </footer>
</body>
</html>
