<footer class="bg-gray-900 text-white py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-between">
      <!-- Kontakt und Standort -->
      <div class="w-full md:w-1/3 mb-6 md:mb-0">
        <h4 class="text-lg font-semibold mb-4">Contact & Position</h4>
        <p class="text-sm mb-2"><span class="font-semibold">Email:</span> <a href="mailto:info@nodcord.com" class="text-gray-400 hover:text-gray-300">nodcord@hauknetz.de</a></p>
        <p class="text-sm mb-2"><span class="font-semibold">Telephone:</span> <a href="tel:+1234567890" class="text-gray-400 hover:text-gray-300">+49 157 51578216</a></p>
        <p class="text-sm"><span class="font-semibold">Position:</span> <span class="text-gray-400">123 Nodcord Street, Tech City, TC 12345</span></p>
      </div>

      <!-- Social Media -->
      <div class="w-full md:w-1/3 mb-6 md:mb-0 flex flex-col items-center">
        <h4 class="text-lg font-semibold mb-4">Follow us</h4>
        <div class="flex space-x-4">
          <a href="https://discord.com/" target="_blank" class="text-gray-400 hover:text-gray-300 text-xl">
            <i class="bi bi-discord"></i>
          </a>
          <a href="https://github.com/" target="_blank" class="text-gray-400 hover:text-gray-300 text-xl">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://youtube.com/" target="_blank" class="text-gray-400 hover:text-gray-300 text-xl">
            <i class="bi bi-youtube"></i>
          </a>
          <a href="https://twitch.tv/" target="_blank" class="text-gray-400 hover:text-gray-300 text-xl">
            <i class="bi bi-twitch"></i>
          </a>
          <a href="https://instagram.com/" target="_blank" class="text-gray-400 hover:text-gray-300 text-xl">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://tiktok.com/" target="_blank" class="text-gray-400 hover:text-gray-300 text-xl">
            <i class="bi bi-tiktok"></i>
          </a>
          <a href="https://twitter.com/" target="_blank" class="text-gray-400 hover:text-gray-300 text-xl">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="https://linkedin.com/" target="_blank" class="text-gray-400 hover:text-gray-300 text-xl">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>

      <!-- Wichtige Links -->
      <div class="w-full md:w-1/3 mb-6 md:mb-0">
        <h4 class="text-lg font-semibold mb-4">Important Links</h4>
        <ul class="text-sm space-y-2">
          <li><a href="/docs" class="text-gray-400 hover:text-gray-300">Documentation</a></li>
          <li><a href="/info" class="text-gray-400 hover:text-gray-300">Application Information</a></li>
          <hr class="mt-4 mb-4 bg-gray-800">
          <li><a href="/legal/terms-of-service" class="text-gray-400 hover:text-gray-300">Terms of Service</a></li>
          <li><a href="/legal/privacy-policy" class="text-gray-400 hover:text-gray-300">Privacy Policy</a></li>
        </ul>
      </div>
    </div>

    <div class="text-center mt-12">
      <p class="text-sm text-gray-400">
        &copy; <%= new Date().getFullYear() %> <a href="/" class="text-gray-200 hover:text-gray-400">NodCord</a>. All rights reserved.
      </p>
    </div>

    <!-- Discord Widget -->
			<div class="flex flex-wrap justify-center mt-12 mb-1">
				<div class="w-full sm:w-1/2 mb-6 md:mb-0">
					<h4 class="text-lg font-semibold mb-4 text-center">
						Our Discord Server
					</h4>
					<div class="flex justify-center">
						<iframe
							src="https://discord.com/widget?id=1236424257383305297&theme=dark"
							width="350"
							height="500"
							allowtransparency="true"
							frameborder="0"
							sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
						></iframe>
					</div>
				</div>
			</div>
  </div>
</footer>
