<header>
  <div class="logo">
    <a href="/"><img src="/assets/img/logo.png" alt="NodCord Logo" /></a>
    <span>NodCord</span>
  </div>
  <div class="burger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <nav>
    <div class="close-btn"></div>
    <a href="/">Home</a>
    <a href="/docs">Documentation</a>
    <a href="/status">Status</a>
    <a href="/info">Info</a>
    <a href="/discord-members">Discord Members</a>
    <a href="/discord-servers">Discord Servers</a>
    <% if (!isAuthenticated) { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% } else { %>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <% } %>
  </nav>
</header>
