<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative shadow-lg flex items-center justify-between" role="alert">
  <div>
    <strong class="font-bold">Success!</strong>
    <span class="block sm:inline"><%= message %></span>
  </div>

  <!-- Close Icon -->
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg class="fill-current h-6 w-6 text-green-500 cursor-pointer hover:text-green-700 transition duration-200 ease-in-out" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M10 0C4.48 0 0 4.48 0 10s4.48 10 10 10 10-4.48 10-10S15.52 0 10 0zm4.54 7.54l-5.5 5.5-2.5-2.5 1.5-1.5 1 1 4-4 1 1z"/>
    </svg>
  </span>
</div>
