<div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative shadow-lg flex items-center justify-between" role="alert">
  <div>
    <strong class="font-bold">Warning!</strong>
    <span class="block sm:inline"><%= message %></span>
  </div>

  <!-- Close Icon -->
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg class="fill-current h-6 w-6 text-yellow-500 cursor-pointer hover:text-yellow-700 transition duration-200 ease-in-out" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M10 0C4.48 0 0 4.48 0 10s4.48 10 10 10 10-4.48 10-10S15.52 0 10 0zm-1 13h2v2h-2v-2zm0-8h2v6h-2V5z"/>
    </svg>
  </span>
</div>
