<button class="btn btn-update bg-pink-500 text-white hover:bg-pink-600 rounded px-4 py-2 flex items-center" <%= attributes || '' %> >
  <i class="bi bi-arrow-repeat mr-2"></i> <%= label || 'Update' %>
</button>
