<div id="createBetaKeyModal" class="modal fade" tabindex="-1" aria-labelledby="createBetaKeyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-gray-800 text-white">
      <div class="modal-header border-b border-gray-700">
        <h5 class="modal-title" id="createBetaKeyModalLabel">Create Beta Key</h5>
        <button type="button" class="btn-close text-gray-400" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createBetaKeyForm">
          <div class="mb-3">
            <label for="betaKeyName" class="form-label">Beta Key Name</label>
            <input type="text" class="form-control" id="betaKeyName" required>
          </div>
          <button type="submit" class="btn btn-primary">Create Beta Key</button>
        </form>
      </div>
    </div>
  </div>
</div>
