<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - NodCord</title>
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <style>
      .form-container {
        max-width: 500px;
        margin: 5rem auto;
        padding: 2rem;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .form-container h1 {
        margin-top: 0;
        font-size: 2rem;
        color: #333;
      }

      .form-container label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: #333;
      }

      .form-container input {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
      }

      .form-container button {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 4px;
        background-color: #333;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .form-container button:hover {
        background-color: #575757;
        color: #fc9802a4;
      }

      .form-container .terms {
        display: flex;
        align-items: center;
        margin: 0;
      }

      .form-container .terms input {
        margin-top: 0.4rem;
        margin-left: -15rem;
        margin-right: -14.5rem;
      }

      .form-container .terms label {
        font-weight: normal;
        font-size: 0.9rem;
        color: #666;
        line-height: 1.5;
      }

      .form-container .terms label a {
        text-decoration: none;
        color: #2fddfe;
      }

      .form-container .terms label a:hover {
        color: #fc9702;
      }

      .form-container .account-link {
        text-decoration: none;
        color: #2fddfe;
      }

      .form-container .account-link:hover {
        color: #fc9702;
      }
    </style>
  </head>

  <body>
    <%- include('../partials/header'); %>
    <main>
      <div class="form-container">
        <h1>Register</h1>
        <% if (errorMessage) { %>
        <div class="error-message"><%= errorMessage %></div>
        <% } %>
        <form action="/api/auth/register" method="POST">
          <label for="fullname">Full Name</label>
          <input type="text" id="fullname" name="fullname" required />
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
          <div class="terms">
            <input type="checkbox" id="terms" name="terms" required />
            <label for="terms"
              >I agree to the
              <a href="/legal/terms-of-service" target="_blank"
                >Terms of Service</a
              >
              and
              <a href="/legal/privacy-policy" target="_blank">Privacy Policy</a
              >.</label
            >
          </div>
          <button type="submit">Register</button>
          <a href="/login" class="account-link">Du hast schon einen Account?</a>
        </form>
      </div>
    </main>
    <footer>
      <p>&copy; 2024 <a href="/">NodCord</a>. All rights reserved.</p>
    </footer>
  </body>
  <script src="assets/js/script.js"></script>
</html>
